/*=========================================================*/
/* Нестандартные шрифты */

@font-face {
  font-family: "Gilroy ExtraBold";

  src: local("Gilroy ExtraBold"),
  url("../fonts/gilroyextrabold.woff2") format("woff2"),
  url("../fonts/gilroyextrabold.woff") format("woff");
}

@font-face {
  font-family: "Gilroy Light";

  src: local("Gilroy Light"),
  url("../fonts/gilroylight.woff2") format("woff2"),
  url("../fonts/gilroylight.woff") format("woff");
}

@font-face {
  font-family: "Open Sans";

  src: local("Open Sans"),
  url("../fonts/opensans.woff2") format("woff2"),
  url("../fonts/opensans.woff") format("woff");
}

@font-face {
  font-family: "Open Sans Light";

  src: local("Open Sans Light"),
  url("../fonts/opensanslight.woff2") format("woff2"),
  url("../fonts/opensanslight.woff") format("woff");
}

/*=========================================================*/
/* Глобальные правила */

html,
body {
  margin: 0;
  padding: 0;

  font-size: 15px;
  line-height: 2;
  font-family: "Gilroy ExtraBold", "Arial Black", sans-serif;
  color: #333333;
}

a {
  color: #000000;
  text-decoration: none;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  border: 0;

  clip: rect(0 0 0 0);
}

/*=========================================================*/
/* Контейнер */

.container {
  box-sizing: border-box;
  width: 1160px;
  margin: 0 auto;
}

.container--flex {
  display: flex;
}

.container__half {
  flex-grow: 1;
  width: 50%;
}

.container__half:first-child {
  margin-right: 40px;
}

/*=========================================================*/
/* Правила для оформления макета */

.theme__title {
  margin: 40px 0;

  font-size: 47px;
  line-height: 56px;
  font-family: "Gilroy ExtraBold", "Arial Black", sans-serif;
  color: #000000;
  letter-spacing: 0.45px;
}

.theme__alt-title {
  font-size: 18px;
  line-height: 1;
  font-family: "Gilroy ExtraBold", "Arial Black", sans-serif;
  text-transform: uppercase;
  letter-spacing: 3.5px;
}

.theme__text {
  margin: 0;
  padding: 0;

  font-size: 15px;
  line-height: 30px;
  font-family: "Open Sans Light", Arial, sans-serif;
  color: #333333;
  text-transform: none;
  letter-spacing: 0.2px;
}

.theme__list {
  display: flex;
  padding: 0;

  list-style: none;
}

.theme__divider::before,
.theme__divider::after {
  display: block;
  width: 80px;
  height: 7px;

  vertical-align: top;

  background-color: #000000;
}

.theme__divider::before {
  content: "";
}

.theme__divider--after::before {
  content: none;
}

.theme__divider--after::after {
  content: "";
}

/*=========================================================*/
/* Кнопки */

.theme__btn {
  position: relative;
  z-index: 0;

  display: inline-block;
  min-width: 160px;
  margin: 20px 0;
  padding: 10px 20px;

  font-size: 18px;
  line-height: 20px;
  font-family: "Gilroy ExtraBold", "Arial Black", sans-serif;
  vertical-align: middle;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 3.7px;

  background-color: transparent;
  border: none;
  cursor: pointer;

  transition: all 0.2s ease;
}

.theme__btn--tab {
  min-width: 140px;
  margin: 10px 0;
  padding: 10px;

  text-align: center;
}

.theme__btn--tab::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;

  width: 0;
  height: 100%;

  background-color: #000000;
}

.theme__btn::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  z-index: -1;

  width: 100%;
  height: 8px;

  background-color: #f0c52e;
  transform: translateY(-50%);

  transition: all 0.2s ease;
}

.theme__btn:hover::before {
  height: 100%;

  transition: all 0.2s ease;
}

.theme__btn:active {
  color: rgba(0, 0, 0, 0.5);

  transition: all 0.1s ease;
}

/*=========================================================*/
/* Шапка сайта */

.page-header__wrapper {
  display: flex;
  padding: 0 60px;
}

/*=========================================================*/
/* Логотип */

.page-logo {
  padding-top: 22px;
  padding-bottom: 17px;
}

.page-logo--header {
  background-image: linear-gradient(to bottom,
  #ffffff 0%,
  #ffffff 40px,
  #f7e296 40px,
  #f7e296 100%);
}

.page-logo__image {
  vertical-align: middle;

  fill: #000000;
}

.page-logo__link:hover .page-logo__image,
.page-logo__link:focus .page-logo__image {
  fill-opacity: 0.6;
}

.page-logo__link:active .page-logo__image {
  fill-opacity: 0.3;
}

/*=========================================================*/
/* Меню */

.page-header .user-menu,
.page-header .main-nav {
  background-color: #f7e296;
}

.user-menu__half {
  display: flex;
  align-items: center;
}

/*=========================================================*/
/* Меню поиска */

.user-menu__search {
  display: flex;
  flex-grow: 1;
  align-items: stretch;
  margin-right: 60px;

  font-size: 15px;
  line-height: 36px;
  font-family: "Open Sans Light", Arial, sans-serif;
}

.user-menu__search-label {
  display: inline-block;
  flex-grow: 1;
  order: 0;
  padding: 5px 11px;

  background-image: url("../img/svg/search.svg");
  background-repeat: no-repeat;
  background-position: center;
  border-bottom: 2px solid transparent;
}

.user-menu__search-input {
  display: inline-block;
  order: 1;
  width: 100%;
  padding: 5px 16px;

  font: inherit;
  line-height: 20px;

  background: none;
  border: none;
  border-bottom: 2px solid transparent;
  outline: none;
}

.user-menu__search-input:-ms-input-placeholder,
.user-menu__search-input:-ms-input-placeholder {
  font-size: inherit;
  color: rgba(0, 0, 0, 0.3);
}

.user-menu__search-input:-ms-input-placeholder,
.user-menu__search-input::placeholder {
  font-size: inherit;
  color: rgba(0, 0, 0, 0.3);
}

.user-menu__search-input:hover:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.user-menu__search-input:hover::placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.user-menu__search-input:active:-ms-input-placeholder,
.user-menu__search-input:focus:-ms-input-placeholder {
  color: #000000;
}

.user-menu__search-input:active::placeholder,
.user-menu__search-input:focus::placeholder {
  color: #000000;
}

.user-menu__search-input:focus,
.user-menu__search-input:active,
.user-menu__search-label:active,
.user-menu__search-input:focus ~ .user-menu__search-label,
.user-menu__search-btn:focus .user-menu__search .user-menu__search-label {
  border-bottom-color: #000000;
}

.user-menu__search-btn {
  order: 2;
  box-sizing: border-box;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;

  font-size: 0;
  color: #000000;

  background-color: transparent;
  border: 0;

  clip: rect(0 0 0 0);
}

.user-menu__search-input:focus ~ .user-menu__search-btn,
.user-menu__search-input:active ~ .user-menu__search-btn,
.user-menu__search-btn:hover,
.user-menu__search-btn:active,
.user-menu__search-btn:focus {
  width: auto;
  height: auto;
  padding: 5px 20px;
  overflow: visible;

  font: inherit;
  line-height: inherit;

  border: 2px solid #000000;
  outline: none;

  clip: auto;
}

.user-menu__search-btn:focus,
.user-menu__search-btn:hover {
  color: #ffffff;

  background-color: #000000;
  outline: none;
}

.user-menu__search-btn:active {
  color: rgba(255, 255, 255, 0.3);
}

/*=========================================================*/
/* Меню пользователя */

.user-menu__list {
  flex-grow: 1;
  flex-wrap: wrap;
  margin: 0;
  padding: 7px 0;
}

.user-menu__sublist {
  display: flex;
  padding-left: 0;

  list-style: none;
}

.user-menu__item:first-child {
  margin-right: auto;
}

.user-menu__item:last-child {
  margin-left: 43px;
}

.user-menu__link {
  font-size: 15px;
  line-height: 36px;
  font-family: "Open Sans Light", Arial, sans-serif;
  white-space: nowrap;
}

.user-menu__link:hover {
  opacity: 0.6;
}

.user-menu__link:active {
  opacity: 0.3;
}

.user-menu__icon {
  fill: #000000;
}

.user-menu__icon--user {
  margin-right: 10px;
}
.user-menu__icon--compare {
  margin-right: 6px;
}
.user-menu__icon--cart {
  margin-right: 6px;
}

.user-menu__link--logout {
  margin-left: 20px;
}

/*=========================================================*/
/* Основная навигация и каталог */

.main-nav {
  position: relative;

  padding-top: 10px;
  padding-bottom: 35px;
}

.main-nav__list {
  display: flex;
  flex-grow: 1;
  margin: 0;
  padding: 0;
}

.main-nav__item {
  padding: 7px 0;
}

.main-nav__link,
.dropdown__link {
  padding: 10px 0;
}

.main-nav__list {
  display: flex;
  flex-grow: 1;
}

.main-nav__item {
  margin-right: 35px;
}

.main-nav__item:last-child:not(:only-child) {
  margin-right: 0;
  margin-left: auto;
}

.main-nav__link--catalog::after {
  content: "";

  display: inline-block;
  width: 16px;
  height: 16px;
  margin-left: 13px;

  vertical-align: baseline;

  background-image: url("../img/svg/plus.svg");
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.3;
}

.main-nav__link--catalog:hover {
  color: rgba(0, 0, 0, 0.6);
}

.main-nav__link--catalog:active {
  color: rgba(0, 0, 0, 0.3);
}

.main-nav__link:hover,
.dropdown__link:hover {
  opacity: 0.6;
}

.main-nav__link:active,
.dropdown__link:active {
  opacity: 0.3;
}

/*=========================================================*/
/* Выпадающее меню каталога */

.dropdown {
  position: absolute;
  top: 46px;
  left: 0;
  z-index: 10;

  box-sizing: border-box;
  width: 100%;

  list-style: none;

  background: #f7e296;
  visibility: hidden;
}

.dropdown__col {
  min-width: 140px;
  margin-right: 60px;
}

.dropdown__row {
  padding: 25px 0 35px;

  list-style: none;
}

.main-nav__item--catalog:hover .dropdown {
  visibility: visible;
}

.dropdown__link {
  line-height: 36px;
}

/*=========================================================*/
/* Главная страница */
/*=========================================================*/

.main-page__section {
  margin-bottom: 70px;

  background: #ffffff;
}

/*=========================================================*/
/* Слайдер товаров */

.slide {
  display: none;
  justify-content: space-between;
  padding-right: 60px;
  padding-left: 30px;

  background-image: linear-gradient(to bottom,
  #f7e296 0px,
  #f7e296 111px,
  #ffffff 111px,
  #ffffff 100%);
}

#slide-1:checked ~ .promo-slider__slides .slide-1,
#slide-2:checked ~ .promo-slider__slides .slide-2,
#slide-3:checked ~ .promo-slider__slides .slide-3 {
  display: flex;
}

.slide__content {
  position: relative;

  flex-shrink: 0;
  width: 500px;
}

.slide__content.theme__divider::before {
  width: 100px;
  margin-top: 37px;
  margin-bottom: 35px;

  background-color: #ffffff;
}

.slide__image {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  padding-right: 26px;
}

.slide__image img {
  max-width: 100%;
  height: auto;
}

.slide__number {
  position: absolute;
  top: -15px;
  right: -12px;

  font: inherit;
  font-size: 179px;
  line-height: 1;
  color: #ffffff;
}

.slide__slogan {
  position: relative;

  margin: 20px 0;

  white-space: nowrap;
}

.slide__buttons,
.slide-switcher {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.slide__buttons {
  margin: 42px 0;
}

.slide__btn {
  min-width: 180px;
  margin: 0;
}

.slide-switcher {
  margin: 0;
  margin-right: 23px;
  padding: 0;

  list-style: none;
}

.slide-switcher__label {
  display: block;
  width: 12px;
  height: 12px;
  margin-left: 21px;

  font-size: 0;

  background-image: url("../img/svg/slider-button-empty.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

#slide-1:checked ~ .promo-slider__slides .slide-switcher__label[for="slide-1"],
#slide-2:checked ~ .promo-slider__slides .slide-switcher__label[for="slide-2"],
#slide-3:checked ~ .promo-slider__slides .slide-switcher__label[for="slide-3"] {
  background-image: url("../img/svg/slider-button.svg");
}

.slide-features__titles {
  display: table-footer-group;
}

.slide-features__values {
  display: table-header-group;
}

.slide-features__title,
.slide-features__value {
  padding: 0;
  padding-right: 77px;

  text-align: left;
}

.slide-features__title:last-child,
.slide-features__value:last-child {
  padding-right: 0;
}

.slide-features__value {
  padding: 12px 0;

  font-size: 36px;
  line-height: 1;
  font-family: "Gilroy Light", Arial, sans-serif;
}

.slide-features__title {
  font-weight: normal;
  font-size: 13px;
  line-height: 20px;
  font-family: "Open Sans Light", Arial, sans-serif;
  color: #464646;
}

/*=========================================================*/
/* Категории гаджетов */

.thumbnails {
  padding-top: 35px;

  background-color: #ffffff;
}

.thumbnails__list {
  justify-content: space-between;
  margin: 0;
}

.thumbnails__link {
  display: block;
  width: 160px;
}

.thumbnails__background {
  height: 160px;

  background-color: rgba(240, 197, 46, 0.5);
}

.thumbnails__image {
  height: 100%;

  background-repeat: no-repeat;
  background-position: center;
}

.thumbnails__link:hover .thumbnails__background {
  background-color: rgba(240, 197, 46, 1);
}

.thumbnails__title {
  margin-top: 36px;
  margin-bottom: 15px;

  line-height: 21px;
  letter-spacing: 0.5px;
}

.thumbnails__link:active .thumbnails__image,
.thumbnails__link:active .thumbnails__title {
  opacity: 0.3;
}

.thumbnails__image-1 {
  background-image: url("../img/svg/popular-1.svg");
}

.thumbnails__image-2 {
  background-image: url("../img/svg/popular-2.svg");
  background-position: bottom;
}

.thumbnails__image-3 {
  background-image: url("../img/svg/popular-3.svg");
}

.thumbnails__image-4 {
  background-image: url("../img/svg/popular-4.svg");
}

.thumbnails__image-5 {
  background-image: url("../img/svg/popular-5.svg");
}

.thumbnails__image-6 {
  background-image: url("../img/svg/popular-6.svg");
}

/*=========================================================*/
/* Услуги (табы) */

.tabs {
  background-image: linear-gradient(to bottom,
  #ffffff 0,
  #ffffff 100px,
  #e5e5e5 100px,
  #e5e5e5 100%);
}

.tabs__wrapper {
  display: flex;
  padding-bottom: 70px;
}

.tabs__list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 67px 117px 57px 0;

  list-style: none;

  border-right: 7px solid #000000;
}

.tabs__item {
  display: inline-block;
  margin: 12.5px 0;

  vertical-align: middle;
}

.tabs__label {
  margin: 0;
}

#tab-1:checked ~ .tabs__left .tabs__label[for="tab-1"],
#tab-2:checked ~ .tabs__left .tabs__label[for="tab-2"],
#tab-3:checked ~ .tabs__left .tabs__label[for="tab-3"] {
  color: #f7e184;

  background-color: #000000;
  /*box-shadow: 120px 0 #000000;*/

  transition: all 0.3s ease;
}

#tab-1:checked ~ .tabs__left .tabs__label[for="tab-1"]::before,
#tab-2:checked ~ .tabs__left .tabs__label[for="tab-2"]::before,
#tab-3:checked ~ .tabs__left .tabs__label[for="tab-3"]::before,
#tab-1:checked ~ .tabs__left .tabs__label[for="tab-1"]:hover::before,
#tab-2:checked ~ .tabs__left .tabs__label[for="tab-2"]:hover::before,
#tab-3:checked ~ .tabs__left .tabs__label[for="tab-3"]:hover::before {
  opacity: 0;

  transition: all 0s;
}

#tab-1:checked ~ .tabs__left .tabs__label[for="tab-1"]::after,
#tab-2:checked ~ .tabs__left .tabs__label[for="tab-2"]::after,
#tab-3:checked ~ .tabs__left .tabs__label[for="tab-3"]::after {
  right: -120px;

  width: 120px;

  transition: all 0.3s ease;
}

.services__item {
  position: relative;

  display: none;
  box-sizing: border-box;
  padding: 72px 300px 70px 117px;
}

#tab-1:checked ~ .tabs__right .services__item-1,
#tab-2:checked ~ .tabs__right .services__item-2,
#tab-3:checked ~ .tabs__right .services__item-3 {
  display: block;
}

.services__item::after {
  content: "";
  position: absolute;
  top: 67px;
  right: 44px;

  display: block;
  width: 180px;
  height: 200px;

  background-repeat: no-repeat;
  background-position: center;
}

.services__item-1::after {
  background-image: url("../img/svg/delivery.svg");
}

.services__item-2::after {
  background-image: url("../img/svg/warranty.svg");
}

.services__item-3::after {
  background-image: url("../img/svg/credit.svg");
}

.services__title {
  margin: 0;
  margin-bottom: 30px;

  line-height: 50px;
  letter-spacing: 1px;
}

/*=========================================================*/
/* Логотипы партнёров */

.logotypes__list {
  justify-content: space-between;
  margin: 0;
  padding: 23px 0 13px;
}

.logotypes__link {
  display: block;
}

.logotypes__link svg image {
  opacity: 0.5;
  filter: url("#grayscale");

  transition: all 0.3s ease;
}

.logotypes__link svg image:hover,
.logotypes__link svg image:active {
  opacity: 1;
  filter: none;
}

/*=========================================================*/
/* Инфо и контакты */

.info,
.contacts {
  display: flex;
  flex-direction: column;
}

.info {
  padding-right: 85px;
}

.info__text,
.contacts__text {
  margin-bottom: 30px;

  letter-spacing: 0;
}

.info__list {
  margin: 36px 0 54px;
  padding: 0;

  list-style: none;
}

.info__item {
  display: flex;
  align-items: center;

  font-size: 16px;
  line-height: 40px;
  letter-spacing: 0.1px;
}

.info__item::before {
  content: "";

  width: 4px;
  height: 4px;
  margin-right: 28px;

  border: 2px solid #e5e5e5;
  border-radius: 50%;
}

.contacts__map {
  margin: 10px 0;
}

.info__btn,
.contacts__btn {
  align-self: flex-start;
  min-width: 240px;
  margin-top: auto;
  margin-bottom: 12px;
  padding: 10px;
}

/*=========================================================*/
/* ================ СТРАНИЦА КАТАЛОГА ==================== */
/*=========================================================*/

/*=========================================================*/
/* Заголовок страницы */

.catalog-heading {
  margin-bottom: 50px;
  padding: 0 60px;
}

.catalog-heading__title {
  margin: 30px 0 25px;
}

/*=========================================================*/
/* Хлебные крошки */

.breadcrumbs {
  margin-bottom: 20px;
}

.breadcrumbs__item {
  line-height: 1;
}

.breadcrumbs__link {
  font-size: 14px;
  line-height: 1;
  color: rgba(0, 0, 0, 0.3);
}

.breadcrumbs__link[href]:hover {
  color: rgba(0, 0, 0, 0.6);
}

.breadcrumbs__link[href]:active {
  color: rgba(0, 0, 0, 0.1);
}

.breadcrumbs__item:not(:last-child)::after {
  content: "";

  display: inline-block;
  width: 5px;
  height: 14px;
  padding-right: 20px;
  padding-left: 10px;

  line-height: 1;
  vertical-align: top;

  background: url("../img/svg/nav-arrow.svg") no-repeat center;
}

/*=========================================================*/
/* Основное содержание каталога */

.flex-container {
  display: flex;
  min-height: 300px;

  background: #ffffff;
}

.flex-half {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

.left-half {
  width: 330px;

  background: rgba(0, 0, 0, 0.08);
}

.right-half {
  width: 830px;
}

.flex-half__header {
  display: flex;
  align-items: center;
  min-height: 70px;

  background: rgba(0, 0, 0, 0.08);
}

.flex-half__content {
  display: flex;
}

.left-half .flex-half__header,
.left-half .flex-half__content {
  justify-content: flex-end;
}

.flex-half__inner {
  display: flex;
}

.flex-half__header .flex-half__inner {
  padding: 20px 0;
}

.left-half .flex-half__inner {
  box-sizing: border-box;
  width: 330px;
  padding-left: 60px;
}

.right-half .flex-half__inner {
  flex-wrap: wrap;
  justify-content: space-between;
  box-sizing: border-box;
  width: 830px;
  padding-left: 70px;
}

.flex-half__content .flex-half__inner {
  padding-top: 69px;
  padding-bottom: 73px;
}

.sorting__filter,
.sorting__arrow {
  margin: 0;

  font-size: 14px;
}

.flex-half__title {
  margin: 0;
  margin-right: 55px;

  font-size: 18px;
  line-height: 30px;
  font-family: "Gilroy ExtraBold", "Arial Black", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
}

/*=========================================================*/
/* Шапка сортировки */

.sorting__filter {
  margin-right: 30px;
}

.sorting__arrows {
  margin-left: auto;
}

.sorting__arrow {
  margin-left: 20px;
}

.sorting__arrows {
  display: flex;
  align-items: center;
}

.sorting__arrow {
  display: inline-block;
  width: 11px;
  height: 10px;

  font-size: 0;
  vertical-align: middle;

  background-repeat: no-repeat;
}

.sorting__filter,
.sorting__arrow {
  color: #000000;
  text-decoration: none;

  opacity: 0.3;
}

.sorting__filter:hover,
.sorting__arrow:hover {
  opacity: 0.6;
}

.sorting__filter:active,
.sorting__filter.active,
.sorting__arrow:active,
.sorting__arrow.active {
  opacity: 1;
}

.sorting__arrow--up {
  background-image: url("../img/svg/icon-up-dir.svg");
}

.sorting__arrow--down {
  background-image: url("../img/svg/icon-down-dir.svg");
}

/*=========================================================*/
/* Форма фильтра */

.left-half .flex-half__inner {
  display: flex;
  flex-direction: column;
  padding-right: 70px;
}

.filter__group,
.filter__title {
  margin: 0;
  padding: 0;
}

.filter__group {
  border: none;
  border-top: 2px solid #000000;
}

.filter__title {
  display: block;
  float: left;
  width: 100%;
  margin-top: 11px;
  margin-bottom: 15px;

  font-size: 18px;
  line-height: normal;
}

.filter__list {
  margin: 51px 0 32px;
  padding: 0;

  list-style: none;
}

.filter__input {
  display: none;
}

.filter__label-wrapper {
  position: relative;

  display: flex;
  align-items: center;
}

.filter__label {
  display: inline-block;
  margin-left: 40px;

  font-weight: normal;
  font-size: 14px;
  line-height: 40px;
  font-family: "Open Sans Light", Arial, sans-serif;
  vertical-align: middle;
}

.filter__label::before {
  content: "";
  position: absolute;
  left: 0;

  display: block;
  width: 30px;
  height: 40px;

  background-repeat: no-repeat;
  background-position: left center;
  opacity: 1;
}

.filter__label:hover::before {
  opacity: 0.6;
}

.filter__label--check::before,
.filter__input:checked + .filter__label--check:active::before {
  background-image: url("../img/svg/checkbox-off.svg");
}

.filter__label--check:active::before,
.filter__input:checked + .filter__label--check::before {
  background-image: url("../img/svg/checkbox-on.svg");
}

.filter__label--radio::before,
.filter__input + .filter__label--radio:active::before {
  background-image: url("../img/svg/radio-off.svg");
}

.filter__label--radio:active::before,
.filter__input:checked + .filter__label--radio::before {
  background-image: url("../img/svg/radio-on.svg");
}

.filter__btn {
  width: 100%;
  margin: 0;
}

/*=========================================================*/
/* Фильтр по цене */

.price-range {
  display: flex;
  align-items: center;
  height: 38px;
  margin: 50px 0;
}

.price-range__scale {
  flex-grow: 1;
  height: 2px;

  background-color: #dbdbdb;
}

.price-range__bar {
  display: flex;
  justify-content: space-between;
  width: 115px;
  height: 100%;
  margin-left: 3px;

  background-color: #91c92f;
}

.price-range__grip {
  position: relative;

  display: flex;
  width: 2px;
  height: 100%;

  background: #000000;
}

.price-range__grip::after {
  content: "";
  position: absolute;
  top: -9px;
  left: -9px;

  width: 4px;
  height: 4px;

  background-color: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px #dbdbdb;
  cursor: pointer;
}

.price-range__grip:active::after {
  top: -10px;
  left: -10px;

  border-width: 9px;
}

.price-range__grip--max {
  justify-content: center;
}

.price-range__label-text {
  font-size: 14px;
  line-height: 50px;
  font-family: "Gilroy Light", Arial, sans-serif;
  text-align: center;
  color: rgba(0, 0, 0, 0.2);
  white-space: nowrap;
}

/*=========================================================*/
/* Карточки товаров каталога */

.product-card {
  position: relative;

  width: 360px;
  margin: 0;
  margin-bottom: 15px;
}

.product-card--new::after {
  content: "new";
  position: absolute;
  top: 30px;
  right: 27px;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 55px;
  height: 55px;

  font-size: 14px;
  font-family: "Gilroy ExtraBold", Arial, sans-serif;
  color: rgba(0, 0, 0, 0.2);
  text-transform: uppercase;

  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 50%;
}

.product-card__image {
  position: relative;
}

.product-card__image img {
  vertical-align: bottom;
}

.product-card__hover {
  position: absolute;
  top: 0;
  left: 0;

  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  background-color: rgba(238, 238, 238, 0.7);
}

.product-card__image:hover .product-card__hover {
  display: flex;
}

.product-card__btn {
  margin-top: 30px;
  margin-bottom: 10px;
}

.product-card__link {
  background: transparent;
  border: 0;
  opacity: 0.5;
}

.product-card__link:hover {
  opacity: 1;
}

.product-card__link:active {
  opacity: 0.2;
}

.product-card__caption {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 100%;
  margin: 30px 0;
}

.product-card__title {
  margin: 0;

  font-size: 18px;
  line-height: 21px;
}

.product-card__price {
  margin-top: 0;
  margin-bottom: 20px;
  margin-left: 20px;

  font-size: 16px;
  line-height: 30px;
  font-family: "Gilroy Light", Arial, sans-serif;
  white-space: nowrap;
}

/*=========================================================*/
/* Пагинация по каталогу */

.pagination {
  display: flex;
  width: 100%;
  margin-top: -9px;

  background-color: rgba(0, 0, 0, 0.08);
}

.pagination__list {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  align-content: center;
  margin: 0;
}

.pagination__link {
  display: block;
  padding: 19px 30px;

  font-size: 16px;
  color: rgba(0, 0, 0, 0.3);
  text-transform: uppercase;
  letter-spacing: 3.5px;
}

.pagination__link[href]:not(.pagination__link--btn):hover {
  color: rgba(0, 0, 0, 0.6);
}

.pagination__pages .pagination__link {
  padding: 19px 14px;
}

.pagination__link:active,
.pagination__link.active,
.pagination__link--btn {
  color: #000000;
}

.pagination__item:first-child .pagination__link--btn {
  margin-right: 12px;
}

.pagination__link--btn[href]:hover {
  background-color: rgba(0, 0, 0, 0.08);
}

.pagination__link--btn[href]:active {
  color: rgba(0, 0, 0, 0.3);
}

/*=========================================================*/
/* =================== ПОДВАЛ САЙТА ====================== */
/*=========================================================*/

.page-footer {
  padding-top: 40px;
  padding-bottom: 67px;

  background-color: #464646;
}

.page-footer--catalog {
  padding-top: 45px; /* Только для попадания в макет */
}

.page-footer__wrapper {
  display: flex;
}

.page-footer__text {
  padding: 15px 0;

  color: #ffffff;
  letter-spacing: 0;
}

/*=========================================================*/
/* Верхняя часть подвала */

.page-footer .page-logo {
  padding-top: 25px;
  padding-bottom: 15px;
}

.page-logo__image--footer {
  fill: #ffc600;
}

.page-footer .user-menu {
  padding: 13px 0;
}

.page-footer .user-menu__item {
  margin-right: 0;
  margin-left: 43px;
}

.page-footer .user-menu__item:first-child {
  margin-left: auto;
}

.page-footer .user-menu__link {
  color: #ffffff;
}

.page-footer .user-menu__icon {
  fill: #ffc600;
}

/*=========================================================*/
/* Левая часть подвала */

.page-footer__left,
.page-footer__center,
.page-footer__right {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

.page-footer__left,
.page-footer__right {
  width: 360px;
}

.page-footer__left.theme__divider--after::after {
  margin-top: 60px;

  background-color: #f0c52e;
}

/*=========================================================*/
/* Средняя часть подвала */

.page-footer__center {
  align-items: center;
  width: 440px;
}

.page-footer__center .main-nav {
  margin-bottom: 30px;
  padding: 10px 0;
}

.page-footer__center .main-nav__list {
  flex-wrap: wrap;
  justify-content: center;
}

.page-footer__center .main-nav__link {
  color: #ffffff;
}

.socials {
  margin-top: auto;
}

.socials__list {
  margin-bottom: 0;
}

.socials__item:not(:last-child) {
  margin-right: 23px;
}

.socials__link {
  display: block;
  width: 32px;
  height: 32px;

  font-size: 0;

  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.3;
}

.socials__link:hover {
  opacity: 0.6;
}

.socials__link:active {
  opacity: 0.1;
}

.socials__link--fb {
  background-image: url("../img/svg/social-fb.svg");
}

.socials__link--inst {
  background-image: url("../img/svg/social-inst.svg");
}

.socials__link--tw {
  background-image: url("../img/svg/social-tw.svg");
}

/*=========================================================*/
/* Правая часть подвала */

.page-footer__right {
  align-items: flex-end;
}

.page-footer__logo-academy {
  display: block;
  width: 27px;
  height: 34px;
  margin-top: auto;

  font-size: 0;

  background-image: url("../img/svg/logo-html.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: contain;
}

.page-footer__logo-academy:hover {
  opacity: 0.6;
}

.page-footer__logo-academy:active {
  opacity: 0.3;
}

/*=========================================================*/
/* =================== МОДАЛЬНЫЕ ОКНА ==================== */
/*=========================================================*/

.popup {
  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.popup__item {
  position: relative;

  display: block;
  width: 960px;
  margin-right: 17px; /* Только для попадания в макет */

  background-color: #ffffff;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.popup__item.hidden {
  display: none;
}

.popup__close-btn {
  position: absolute;
  top: 22px;
  right: 22px;

  width: 55px;
  height: 55px;

  font-size: 0;

  background-color: transparent;
  background-image: url("../img/svg/modal-close.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: 0;
  border-radius: 50%;
  opacity: 0.5;
}

.popup__close-btn:hover,
.popup__close-btn:focus {
  outline: none;
  opacity: 1;
}

.popup__close-btn:active {
  opacity: 0.3;
}

/*=========================================================*/
/* Карта */

.map {
  position: relative;

  height: 559px;

  background-image: url("../img/map-big.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.map__iframe {
  border: 0;
}

/*=========================================================*/
/* Форма обратной связи */

.feedback__form {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 88px 100px 78px;
}

.feedback__inputs {
  display: flex;
  justify-content: space-between;
}

.feedback__half {
  width: 360px;
}

.feedback__label {
  display: block;
  margin: 9px 0;

  font-size: 18px;
  line-height: 1;
}

.feedback__input {
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 28px;
  padding: 13px 20px;

  font-size: 14px;
  line-height: 18px;

  background-color: rgba(229, 229, 229, 0.5);
  border: 3px solid rgba(229, 229, 229, 0.5);
  outline: none;
}

.feedback__input:-ms-input-placeholder {
  color: rgba(70, 70, 70, 0.4);
}

.feedback__input::placeholder {
  color: rgba(70, 70, 70, 0.4);
}

.feedback__input:hover {
  background-color: rgba(229, 229, 229, 0.8);
}

.feedback__input:focus {
  background-color: #ffffff;
  border-color: #f7e296;
}

.feedback__input:focus:invalid {
  background-color: #f6dada;
  border-color: #f6dada;
}

.feedback__input--textarea {
  height: 156px;
  margin-bottom: 40px;

  resize: none;
}

.feedback__send-btn {
  align-self: flex-start;
  min-width: 200px;
  margin: 0;
}
