/*=========================================================*/
/* Нестандартные шрифты */

@font-face {
  font-family: "Gilroy ExtraBold";
  src: local("Gilroy ExtraBold"),
    url("../fonts/gilroyextrabold.woff2") format("woff2"),
    url("../fonts/gilroyextrabold.woff") format("woff");
}

@font-face {
  font-family: "Gilroy Light";
  src: local("Gilroy Light"),
  url("../fonts/gilroylight.woff2") format("woff2"),
  url("../fonts/gilroylight.woff") format("woff");
}

@font-face {
  font-family: "Open Sans";
  src: local("Open Sans"),
  url("../fonts/opensans.woff2") format("woff2"),
  url("../fonts/opensans.woff") format("woff");
}

@font-face {
  font-family: "Open Sans Light";
  src: local("Open Sans Light"),
  url("../fonts/opensanslight.woff2") format("woff2"),
  url("../fonts/opensanslight.woff") format("woff");
}

/*=========================================================*/
/* Глобальные правила */

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Gilroy ExtraBold", "Arial Black", sans-serif;
  font-size: 15px;
  line-height: 2;
  color: #333;
}

a {
  text-decoration: none;
  color: #000;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  clip: rect(0 0 0 0);
  overflow: hidden;
}

.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
  position: static;

  width: auto;
  height: auto;
  margin: 0;

  clip: auto;
  overflow: visible;
}

/*=========================================================*/
/* Контейнер */

.container {
  margin: 0 auto;
  width: 1160px;
  box-sizing: border-box;
}

.container--flex {
  display: flex;
}

.container__half {
  flex-grow: 1;
  width: 50%;
}

.container__half:first-child {
  margin-right: 40px;
}

/*=========================================================*/
/* Правила для оформления макета */

.theme__title {
  font-family: "Gilroy ExtraBold", "Arial Black", sans-serif;
  font-size: 47px;
  line-height: normal;
  color: #000;
}

.theme__alt-title {
  font-family: "Gilroy ExtraBold", "Arial Black", sans-serif;
  font-size: 18px;
  line-height: 1;
  letter-spacing: 4px;
  text-transform: uppercase;
}

.theme__text {
  margin: 0;
  padding: 0;
  font-family: "Open Sans Light", Arial, sans-serif;
  font-size: 15px;
  line-height: 2;
  letter-spacing: 0;
  text-transform: none;
  color: #333;
}

.theme__list {
  display: flex;
  list-style: none;
  padding: 0;
}

.theme__divider::before,
.theme__divider::after {
  display: block;
  vertical-align: top;
  width: 100px;
  height: 7px;
  background-color: #000;
}

.theme__divider::before {
  content: "";
}

.theme__divider--after::before {
  content: none;
}
.theme__divider--after::after {
  content: "";
}

/*=========================================================*/
/* Кнопки */

.theme__btn {
  display: inline-block;
  position: relative;
  z-index: 0;
  margin: 20px 0;
  padding: 10px 20px;
  min-width: 160px;
  font-family: "Gilroy ExtraBold", "Arial Black", sans-serif;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 4px;
  text-transform: uppercase;
  text-align: center;
  color: #000;
  border: none;
  background-color: transparent;
  transition: all 0.2s ease;
  cursor: pointer;
}

.theme__btn--tab {
  margin: 10px 0;
  padding: 10px;
  min-width: 140px;
  text-align: center;
}

.theme__btn::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 100%;
  height: 8px;
  background-color: #f0c52e;
  z-index: -1;
  transition: all 0.2s ease;
}

.theme__btn:hover::before {
  height: 100%;
  transition: all 0.2s ease;
}

.theme__btn:active {
  color: rgba(0,0,0,0.5);
  transition: all 0.1s ease;
}

/*=========================================================*/
/* Шапка сайта */

.page-header__wrapper {
  display: flex;
  padding: 0 60px;
}

/*=========================================================*/
/* Логотип */

.page-logo {
  padding: 20px 0;
}

.page-logo--header {
  background-image:
    linear-gradient(to bottom,
    transparent 0%,
    transparent 50%,
    #f7e296 50%,
    #f7e296 100%);
}


.page-logo__image {
  vertical-align: middle;
  fill: #000;
}

.page-logo__link:hover .page-logo__image,
.page-logo__link:focus .page-logo__image {
  fill-opacity: 0.6;
}

.page-logo__link:active .page-logo__image {
  fill-opacity: 0.3;
}

/*=========================================================*/
/* Меню */

.page-header .user-menu,
.page-header .main-nav {
  background-color: #f7e296;
}

.user-menu__half {
  display: flex;
  align-items: center;
}

/*=========================================================*/
/* Меню поиска */

.user-menu__search {
  flex-grow: 1;
  display: flex;
  align-items: stretch;
  margin-right: 60px;
  font-family: "Open Sans Light", Arial, sans-serif;
  font-size: 15px;
  line-height: 36px;
}

.user-menu__search-label {
  order: 0;
  flex-grow: 1;
  display: inline-block;
  padding: 5px 10px;
  background-image: url("../img/svg/search.svg");
  background-position: center left;
  background-repeat: no-repeat;
  border-bottom: 2px solid transparent;
}

.user-menu__search-input {
  display: inline-block;
  order: 1;
  padding: 5px 10px;
  width: 100%;
  font: inherit;
  line-height: 20px;
  background: none;
  border: none;
  border-bottom: 2px solid transparent;
  outline: none;
}
.user-menu__search-input:-ms-input-placeholder,
.user-menu__search-input::placeholder {
  font-size: inherit;
  line-height: 25px;
  vertical-align: middle;
  color: rgba(0, 0, 0, 0.3);
}

.user-menu__search-input:hover::placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.user-menu__search-input:active::placeholder,
.user-menu__search-input:focus::placeholder {
  color: #000000;
}

.user-menu__search-input:focus,
.user-menu__search-input:active,
.user-menu__search-label:active,
.user-menu__search-input:focus ~ .user-menu__search-label,
.user-menu__search-btn:focus .user-menu__search .user-menu__search-label {
  border-bottom: 2px solid #000;

}

.user-menu__search-btn {
  order: 2;
  width: 1px;
  height: 1px;
  padding: 0;
  font-size: 0;
  color: #000;
  background-color: transparent;
  border: 0;
  box-sizing: border-box;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.user-menu__search-input:focus ~ .user-menu__search-btn,
.user-menu__search-input:active ~ .user-menu__search-btn,
.user-menu__search-btn:hover,
.user-menu__search-btn:active,
.user-menu__search-btn:focus {
  padding: 10px 20px;
  width: auto;
  height: auto;
  font: inherit;
  line-height: 30px;
  border: 2px solid #000;
  clip: auto;
  overflow: visible;
  outline: none;
}


.user-menu__search-btn:focus,
.user-menu__search-btn:hover {
  color: #fff;
  background-color: #000;
  outline: none;
}

.user-menu__search-btn:active {
  color: rgba(255, 255, 255, 0.3);
}

/*=========================================================*/
/* Меню пользователя */

.user-menu__list {
  flex-grow: 1;
  margin: 15px 0;
}

.user-menu__sublist {
  display: flex;
  padding-left: 0;
  list-style: none;
}

.user-menu__item:first-child { margin-right: auto; }

.user-menu__item:last-child { margin-left: 30px; }


.user-menu__link {
  font-family: "Open Sans Light", Arial, sans-serif;
  font-size: 15px;
  line-height: 36px;
}

.user-menu__link:hover {
  opacity: 0.6;
}

.user-menu__link:active {
  opacity: 0.3;
}

.user-menu__icon {
  margin-right: 10px;
  width: 15px;
  height: 13px;
  fill: #000000;
}

.user-menu__link--logout {
  margin-left: 20px;
}

/*=========================================================*/
/* Основная навигация */

.main-nav {
  position: relative;
}

.main-nav__list {
  display: flex;
  flex-grow: 1;
  margin: 15px 0;
  padding: 0;
}

.main-nav__link {
  padding: 15px 0;

}

.main-nav__item {
  margin-right: 30px;
}

.main-nav__item:last-child {
  margin-right: 0;
  margin-left: auto;
}

.catalog {
  padding-bottom: 40px;
}

.catalog__title {
  line-height: normal;
}

.catalog__link {
  padding: 15px 0;
}

.catalog__link::after {
  content: "";
  display: inline-block;
  vertical-align: top;
  padding-left: 20px;
  width: 18px;
  height: 18px;
  background-image: url("../img/svg/plus.svg");
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.3;
}

.main-nav__link:hover,
.dropdown__link:hover {
  opacity: 0.6;
}

.main-nav__link:active,
.dropdown__link:active {
  opacity: 0.3;
}

.catalog__link:hover {
  color: rgba(0, 0, 0, 0.6);
}

.catalog__link:active {
  color: rgba(0, 0, 0, 0.3);
}

.dropdown {
  position: absolute;
  width: 100%;
  top: 40px;
  left: 0;
  list-style: none;
  background: #f7e296;
  box-sizing: border-box;
  visibility: hidden;
  z-index: 10;
}

.dropdown__row {
  margin-right: 40px;
  padding: 20px 20px 40px;
  min-width: 160px;
  list-style: none;
}

.catalog__title:hover .dropdown,
.catalog__title .catalog__link:focus ~ .dropdown {
  visibility: visible;
}

/*=========================================================*/
/* Главная страница */
/*=========================================================*/

.main-page__section {
  margin-bottom: 120px;
}

/*=========================================================*/
/* Слайдер товаров */

.slide {
  display: none;
  justify-content: space-between;
  padding-right: 60px;
  padding-left: 30px;
  background-image:
    linear-gradient(to bottom,
    #f7e296 0px,
    #f7e296 100px,
    transparent 100px,
    transparent 100%);
}

#slide-1:checked ~ .promo-slider__slides .slide-1,
#slide-2:checked ~ .promo-slider__slides .slide-2,
#slide-3:checked ~ .promo-slider__slides .slide-3 {
  display: flex;
}

.slide__content {
  position: relative;
  flex-shrink: 0;
  width: 500px;
}

.slide__content.theme__divider::before {
  margin-top: 40px;
  background-color: #fff;
}

.slide__image {
  display: flex;
  /*flex-shrink: 0;*/
  justify-content: center;
  align-items: center;
}

.slide__number {
  position: absolute;
  top: 10px;
  right: 0;
  font-size: 120px;
  line-height: 1;
  color: #fff;
}

.slide__slogan {
  position: relative;
  margin: 20px 0;
}

.slide__buttons,
.slide-switcher {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.slide__buttons {
  margin: 45px 0;
}

.slide__btn {
  margin: 0;
}

.slide-switcher {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slide-switcher__label {
  display: block;
  margin-left: 21px;
  width: 12px;
  height: 12px;
  font-size: 0;
  background-image: url("../img/svg/slider-button-empty.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

#slide-1:checked ~ .promo-slider__slides .slide-switcher__label[for="slide-1"],
#slide-2:checked ~ .promo-slider__slides .slide-switcher__label[for="slide-2"],
#slide-3:checked ~ .promo-slider__slides .slide-switcher__label[for="slide-3"] {
  background-image: url("../img/svg/slider-button.svg");
}

.slide-features__titles {
  display: table-footer-group;
}

.slide-features__values {
  display: table-header-group;
}

.slide-features__title,
.slide-features__value {
  padding-right: 20px;
  text-align: left;
}

.slide-features__value {
  padding-bottom: 15px;
  font-family: "Gilroy Light", Arial, sans-serif;
  font-size: 36px;
  line-height: 1;
}

.slide-features__title {
  font-family: "Open Sans Light", Arial, sans-serif;
  font-size: 13px;
  line-height: 20px;
  font-weight: normal;
  color: #464646;
}


/*=========================================================*/
/* Категории гаджетов */

.thumbnails__list {
  justify-content: space-between;
}

.thumbnails__item {
  /*text-align: center;*/
}

.thumbnails__link {
  display: block;
  width: 160px;
  height: 160px;
  background-color: rgba(240, 197, 46, 0.5);
}

.thumbnails__image {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.thumbnails__link:hover {
  background-color: rgba(240, 197, 46, 1);
}

.thumbnails__title {
  margin: 30px auto;
  line-height: 20px;
}

/*TODO: Разобраться, почему не работает .thumbnails__link:active  в IE*/
.thumbnails__link:active {
  opacity: 0.3;
}

.thumbnails__image-1 { background-image: url("../img/svg/popular-1.svg"); }

.thumbnails__image-2 {
  background-image: url("../img/svg/popular-2.svg");
  background-position: bottom;
}

.thumbnails__image-3 { background-image: url("../img/svg/popular-3.svg"); }

.thumbnails__image-4 { background-image: url("../img/svg/popular-4.svg"); }

.thumbnails__image-5 { background-image: url("../img/svg/popular-5.svg"); }

.thumbnails__image-6 { background-image: url("../img/svg/popular-6.svg"); }

/*=========================================================*/
/* Услуги (табы) */

.tabs {
  background-image:
    linear-gradient(to bottom,
    transparent 0,
    transparent 100px,
    #e5e5e5 100px,
    #e5e5e5 100%);
}

.tabs__wrapper {
  display: flex;
  padding-bottom: 70px;
}

.tabs__list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 55px 120px 45px 0;
  list-style: none;
  border-right: 7px solid #000;
}

.tabs__item {
  display: inline-block;
  vertical-align: middle;
  margin: 12.5px 0;
}

.tabs__label {
  margin: 0;
}

#tab-1:checked ~ .tabs__left .tabs__label[for="tab-1"],
#tab-2:checked ~ .tabs__left .tabs__label[for="tab-2"],
#tab-3:checked ~ .tabs__left .tabs__label[for="tab-3"] {
  color: #f7e184;
  background-color: black;
  box-shadow: 120px 0 black;
  transition: all 0.3s ease;
}

#tab-1:checked ~ .tabs__left .tabs__label[for="tab-1"]::before,
#tab-2:checked ~ .tabs__left .tabs__label[for="tab-2"]::before,
#tab-3:checked ~ .tabs__left .tabs__label[for="tab-3"]::before,
#tab-1:checked ~ .tabs__left .tabs__label[for="tab-1"]:hover::before,
#tab-2:checked ~ .tabs__left .tabs__label[for="tab-2"]:hover::before,
#tab-3:checked ~ .tabs__left .tabs__label[for="tab-3"]:hover::before {
  opacity: 0;
  transition: all 0s;
}

.services__item {
  position: relative;
  display: none;
  padding: 70px 300px 70px 120px;
  box-sizing: border-box;
}

#tab-1:checked ~ .tabs__right .services__item-1,
#tab-2:checked ~ .tabs__right .services__item-2,
#tab-3:checked ~ .tabs__right .services__item-3 {
  display: block;
}

.services__item::after {
  content: "";
  position: absolute;
  top: 70px;
  right: 40px;
  display: block;
  width: 180px;
  height: 200px;
  background-repeat: no-repeat;
  background-position: center;
}

.services__item-1::after {
  background-image: url("../img/svg/delivery.svg");
}

.services__item-2::after {
  background-image: url("../img/svg/warranty.svg");
}

.services__item-3::after {
  background-image: url("../img/svg/credit.svg");
}

.services__title {
  margin: 0 0 20px;
  line-height: 50px;
}


/*=========================================================*/
/* Логотипы партнёров */

.logotypes__list {
  justify-content: space-between;
}

.logotypes__link {
  display: block;
}

.logotypes__link svg image {
  opacity: 0.5;
  filter: url("#grayscale");
  transition: all 0.3s ease;
}

.logotypes__link svg image:hover,
.logotypes__link svg image:active {
  opacity: 1;
  filter: none;
}

/*=========================================================*/
/* Инфо и контакты */

.info,
.contacts {
  display: flex;
  flex-direction: column;
}

.info {
  padding-right: 85px;
}

.info__text,
.contacts__text {
  margin-bottom: 30px;
}

.info__list {
  margin-top: 20px;
  margin-bottom: 40px;
  padding:0;
  list-style: none;
}

.info__item {
  display: flex;
  align-items: center;
  font-size: 16px;
  line-height: 40px;
}

.info__item::before {
  content: "";
  margin-right: 25px;
  width: 4px;
  height: 4px;
  border: 4px solid #e5e5e5;
  border-radius: 50%;
}

.contacts__map {
  margin: 10px 0;
}

.info__btn,
.contacts__btn {
  margin-top: auto;
  align-self: flex-start;
}

/*=========================================================*/
/* ================ СТРАНИЦА КАТАЛОГА ==================== */
/*=========================================================*/


/*=========================================================*/
/* Хлебные крошки */

.breadcrumbs__item {
  margin: 15px 0;
  font-size: 14px;
  line-height: 1;
}

.breadcrumbs__link {
  color: rgba(0, 0, 0, 0.3);
}

.breadcrumbs__link[href]:hover {
  color: rgba(0, 0, 0, 0.6);
}

.breadcrumbs__link[href]:active {
  color: rgba(0, 0, 0, 0.1);
}

.breadcrumbs__item:not(:last-child)::after {
  content: "";
  display: inline-block;
  vertical-align: top;
  width: 40px;
  height: 14px;
  line-height: 1;
  background: url("../img/svg/nav-arrow.svg") no-repeat center;
}

/*=========================================================*/
/* Основное содержание каталога */

.flex-container {
  display: flex;
  min-height: 300px;
}

.flex-half {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.left-half {
  width: 330px;
  background: rgba(0, 0, 0, 0.08);
}

.right-half {
  width: 830px;
}

.flex-half__header {
  display: flex;
  align-items: center;
  min-height: 70px;
  background: rgba(0, 0, 0, 0.08);
}

.flex-half__content {
  display: flex;
}

.left-half .flex-half__header, .left-half .flex-half__content {
  justify-content: flex-end;
}

.flex-half__inner {
  display: flex;
}

.flex-half__header .flex-half__inner {
  padding: 20px 0;
}

.left-half .flex-half__inner {
  padding-left: 40px;
  width: 330px;
  box-sizing: border-box;
}

.right-half .flex-half__inner {
  padding-left: 70px;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 830px;
  box-sizing: border-box;
}

.flex-half__content .flex-half__inner {
  padding-top: 70px;
}

.flex-half__title,
.sorting__filter,
.sorting__arrow {
  margin: 0;
  font-family: Gilroy, sans-serif;
  font-size: 16px;
  line-height: 30px;
}

.flex-half__title {
  margin: 0;
  margin-right: 60px;
  font-family: "Gilroy ExtraBold", "Arial Black", sans-serif;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 2px;
  line-height: 30px;
  text-transform: uppercase;
}

/*=========================================================*/
/* Шапка сортировки */

.sorting__filter {
  margin-right: 30px;
}

.sorting__arrows {
  margin-left: auto;
}

.sorting__arrow {
  margin-left: 20px;
}

.sorting__arrows {
  display: flex;
  align-items: center;
}

.sorting__arrow {
  display: inline-block;
  vertical-align: middle;
  width: 11px;
  height: 10px;
  font-size: 0;
  background-repeat: no-repeat;
}

.sorting__filter,
.sorting__arrow {
  text-decoration: none;
  color: #000;
  opacity: 0.3;
}
.sorting__filter:hover,
.sorting__arrow:hover {
  opacity: 0.6;
}

.sorting__filter:active,
.sorting__filter.active,
.sorting__arrow:active,
.sorting__arrow.active {
  opacity: 1;
}

.sorting__arrow--up {
  background-image: url("../img/svg/icon-up-dir.svg");
}

.sorting__arrow--down {
  background-image: url("../img/svg/icon-down-dir.svg");
}

/*=========================================================*/
/* Форма фильтра */

.left-half .flex-half__inner {
  padding-right: 70px;
  display: flex;
  flex-direction: column;
}

.filter__group,
.filter__title {
  margin: 0;
  padding: 0;
}

.filter__group {
  border: none;
  border-top: 2px solid #000000;
}

.filter__title {
  float: left;
  display: block;
  margin-bottom: 15px;
  width: 100%;
}

.filter__list {
  list-style: none;
  padding: 0;
}

.filter__item {

}

.filter__input {
  display: none;
}

.filter__label-wrapper {
  position: relative;
}

.filter__label {
  display: inline-block;
  vertical-align: middle;
  margin-left: 40px;
  font-family: "Open Sans Light", Arial, sans-serif;
  font-size: 14px;
  line-height: 40px;
  font-weight: normal;
}

.filter__label::before {
  content: "";
  position: absolute;
  left: 0;
  display: block;
  width: 30px;
  height: 40px;
  background-repeat: no-repeat;
  background-position: left center;
}

.filter__label:hover::before {
  opacity: 0.6;
}

.filter__label--check::before {
  background-image: url("../img/svg/checkbox-off.svg");
}

.filter__input:checked + .filter__label--check::before {
  background-image: url("../img/svg/checkbox-on.svg");
}

.filter__label--radio::before {
  background-image: url("../img/svg/radio-off.svg");
}

.filter__input:checked + .filter__label--radio::before {
  background-image: url("../img/svg/radio-on.svg");
}

/*=========================================================*/
/* Фильтр по цене */

.price-range {
  display: flex;
  align-items: center;
  margin: 50px 0;
  height: 50px;
}

.price-range__scale {
  flex-grow: 1;
  height: 2px;
  background-color: #dbdbdb;
}

.price-range__bar {
  display: flex;
  justify-content: space-between;
  width: 110px;
  height: 100%;
  background-color: #91c92f;
}

.price-range__grip {
  display: flex;
  position: relative;
  width: 2px;
  height: 100%;
  background: #000;
}

.price-range__grip::after {
  position: absolute;
  content: '';
  top: -10px;
  left: -10px;
  width: 4px;
  height: 4px;
  background-color: #ababab;
  border: 9px solid white;
  border-radius: 50%;
  box-shadow: 0 2px #dbdbdb;
  cursor: pointer;
}

.price-range__grip:active::after {
  top: -11px;
  left: -11px;
  border-width: 10px;
}

.price-range__grip--max {
  justify-content: center;
}

.price-range__label-text {
  font-family: "Gilroy Light", Arial, sans-serif;
  font-size: 14px;
  line-height: 50px;
  text-align: center;
  white-space: nowrap;
  color: rgba(0, 0, 0, 0.2);

}

/*=========================================================*/
/* Карточки товаров каталога */

.product-card {
  margin: 0;
  width: 360px;
}

.product-card__image {
  position: relative;
}

.product-card__image img {
  vertical-align: bottom;
}

.product-card__hover {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(238, 238, 238, 0.7);
}

.product-card__image:hover .product-card__hover {
  display: flex;
}

.product-card__btn {
  margin-top: 30px;
  margin-bottom: 10px;
}

.product-card__link { opacity: 0.5; }

.product-card__link:hover { opacity: 1; }

.product-card__link:active { opacity: 0.2; }

.product-card__caption {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin: 30px 0 45px;
  width: 100%;
}

.product-card__title {
  margin: 0;
  font-size: 18px;
  line-height: normal;
}

.product-card__price {
  margin-top: 0;
  margin-left: 20px;
  font-family: "Gilroy Light", Arial, sans-serif;
  font-size: 16px;
  white-space: nowrap;
}

  /*=========================================================*/
/* Пагинация по каталогу */

.pagination {
  flex-grow: 1;
  display: flex;
  margin-top: 30px;
  margin-bottom: 70px;
  background-color: rgba(0, 0, 0, 0.08);
}

.pagination__list {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  align-content: center;
}

.pagination__link {
  padding: 20px;
  font-size: 16px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.3);
}

.pagination__link[href]:not(.pagination__link--btn):hover {
  color: rgba(0, 0, 0, 0.6);
}

.pagination__pages .pagination__link {
  padding: 20px 15px;
}

.pagination__link:active,
.pagination__link.active,
.pagination__link--btn {
  color: #000000;
}

.pagination__link--btn[href]:hover {
  background-color: rgba(0, 0, 0, 0.08);
}

.pagination__link--btn[href]:active {
  color: rgba(0, 0, 0, 0.3);
}

/*=========================================================*/
/* =================== ПОДВАЛ САЙТА ====================== */
/*=========================================================*/

.page-footer {
  background-color: #464646;
}

.page-footer__wrapper {
  display: flex;
  padding-top: 40px;
  padding-bottom: 80px;
}

.page-footer__text {
  padding: 15px 0;
  color: #ffffff;
}

  /*=========================================================*/
/* Левая часть подвала */

.page-footer__left,
.page-footer__center,
.page-footer__right {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.page-footer__left,
.page-footer__right {
  width: 360px;
}

.page-logo__image--footer {
  fill: #ffc600;
}

.page-footer__left.theme__divider--after::after {
  margin-top: 60px;
  background-color: #f0c52e;
}

/*=========================================================*/
/* Средняя часть подвала */

.page-footer__center {
  margin-top: 76px;
  align-items: center;
}

.main-nav__link {
  line-height: 30px;
}

.main-nav__link--footer {
  font-size: 18px;
  line-height: 30px;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.socials {
  margin-top: auto;
}

.socials__list {
  margin-bottom: 0;
}

.socials__item:not(:last-child) {
  margin-right: 23px;
}

.socials__link {
  display: block;
  width: 32px;
  height: 32px;
  font-size: 0;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.3;
}

.socials__link:hover {
  opacity: 0.6;
}

.socials__link:active {
  opacity: 0.1;
}

.socials__link--fb {
  background-image: url("../img/svg/social-fb.svg");
}

.socials__link--inst {
  background-image: url("../img/svg/social-inst.svg");
}
.socials__link--tw {
  background-image: url("../img/svg/social-tw.svg");
}

/*=========================================================*/
/* Правая часть подвала */

.page-footer__right {
  align-items: flex-end;
}

.page-footer__right .user-menu__item {
  margin-left: 30px;
}

.page-footer__right .user-menu__link {
  color: #ffffff;
}

.page-footer__right .user-menu__icon {
  fill: #ffc600;
}

.page-footer__logo-academy {
  margin-top: auto;
  width: 27px;
  height: 34px;
  font-size: 0;
  background-image: url("../img/svg/logo-html.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.page-footer__logo-academy:hover {
  opacity: 0.6;
}

.page-footer__logo-academy:active {
  opacity: 0.3;
}

/*=========================================================*/
/* =================== МОДАЛЬНЫЕ ОКНА ==================== */
/*=========================================================*/

.popup {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.popup__item {
  position: relative;
  display: block;
  width: 960px;
  background-color: #ffffff;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.popup__item.hidden {
  display: none;
}

.popup__close-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 55px;
  height: 55px;
  font-size: 0;
  background-color: transparent;
  background-image: url("../img/svg/modal-close.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: 0;
  border-radius: 50%;
  opacity: 0.5;
}

.popup__close-btn:hover,
.popup__close-btn:focus {
  opacity: 1;
  outline: none;
}

.popup__close-btn:active {
  opacity: 0.3;
}

/*=========================================================*/
/* Карта */

.map {
  position: relative;
  height: 559px;
  background-image: url("../img/map-big.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.map__iframe {
  border: 0;
}

/*=========================================================*/
/* Форма обратной связи */

.feedback__form {
  display: flex;
  flex-direction: column;
  padding: 80px 100px;
  box-sizing: border-box;
}

.feedback__inputs {
  display: flex;
  justify-content: space-between;
}

.feedback__half {
  width: 360px;
}

.feedback__label {
  display: block;
  margin: 10px 0;
  font-size: 18px;
  line-height: 1;
}

.feedback__input {
  margin-bottom: 30px;
  padding: 13px 20px;
  width: 100%;
  font-size: 14px;
  line-height: 18px;
  background-color: rgba(229, 229, 229, 0.5);
  border: 3px solid transparent;
  box-sizing: border-box;
  outline: none;
}

.feedback__input::placeholder {
  color: rgba(70, 70, 70, 0.4);
}

.feedback__input:hover {
  background-color: rgba(229, 229, 229, 0.8);
}

.feedback__input:focus {
  background-color: transparent;
  border-color: #f7e296;
}

.feedback__input:invalid {
  background-color: #f6dada;
  border-color: #f6dada;
}

.feedback__input--textarea {
  margin-bottom: 40px;
  resize: none;
}

.feedback__send-btn {
  align-self: flex-start;
  margin: 0;
  min-width: 200px;
}
